[user]
    email = github@gpiantoni.com
    name = Gio on ArchXPS

[alias]
    wdiff = diff --color-words -w
	tree = log --graph --pretty='%C(yellow)%t%C(reset)%x09%C(magenta)%an%C(reset)%x09%x09%C(cyan)%ad%C(reset) %C(auto)%d%C(reset) %s' --date=local --all
    amend = commit -a --amend --no-edit

[core]
    excludesfile = ~/.gitignore_shared
    pager = less -S --shift 4
    editor = vim
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[pull]
	ff = only
[pack]
	windowMemory = 100m
	packSizeLimit = 100m
	threads = 1
[merge]
	commit = no
[push]
	default = simple
[sendpack]
	sideband = false
[http]
	postBuffer = 524288000
[init]
	defaultBranch = master
